body{
margin-top:70px;    
}

hgroup{
  font-family: Poppins;
}
p{
  font-family: Roboto;
}

.navbar-brannd,
{
  padding-bottom: 0;
  margin-bottom: 0;

}
.navbar-default {
    background: white;
    border: 0;
    font-family: Poppins;
}

.navbar-brand {
    font-size: 24px;
    color: #000000!important;
    font-weight: bold;
}

#showcase img{
  width: 80%;
  margin-left: 70px;
}
#showcase h1{
  font-family: Josefin;
  font-size: 50px;
  margin-bottom: 20px;
}